@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Order Service!</h1>
    <p class="lead">Select a table to view:</p>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Products</h5>
                    <p class="card-text">View and manage products.</p>
                    @Html.ActionLink("Go to Products", "Index", "Products", new { }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Orders</h5>
                    <p class="card-text">View and manage orders.</p>
                    @Html.ActionLink("Go to Orders", "Index", "Orders", new { }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Suppliers</h5>
                    <p class="card-text">View and manage suppliers.</p>
                    @Html.ActionLink("Go to Suppliers", "Index", "Suppliers", new { }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Employees</h5>
                    <p class="card-text">View and manage employees.</p>
                    @Html.ActionLink("Go to Employees", "Index", "Employees", new { }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Supplies</h5>
                    <p class="card-text">View and manage supplies.</p>
                    @Html.ActionLink("Go to Supplies", "Index", "Supplies", new { }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
</div>
